@model Inventory.Models.Equipment

@{
    ViewData["Title"] = "Removendo Equipamento";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="Equipments" asp-action="Index">Equipamentos</a></li>
    <li class="active">Remover</li>
</ol>


<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> @ViewData["Title"]</div>
    <div class="panel-body">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            Você tem certeza que deseja remover este equipamento?
        </div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Equity)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Equity)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OldEquity)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OldEquity)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Hostname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Hostname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OldHostname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OldHostname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MAC)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MAC)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IP)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IP)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MEM)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MEM)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Processor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Processor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HD)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HD)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.GPU)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GPU)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manufacturer)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ServiceTag)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ServiceTag)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SerialNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Warranty)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Warranty)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Maintenance)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Maintenance)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Registration)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Registration)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastUpdate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastUpdate)
            </dd>
        </dl>

        <form asp-action="Delete">
            <a asp-action="Index" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar</a> |
            <input type="hidden" asp-for="EquipmentId" />
            <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remover
            </button>
        </form>
    </div>
</div>
