@model Inventory.Models.EquipmentType

@{
    ViewData["Title"] = "Removendo tipo de Equipamento";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="EquipmentTypes" asp-action="Index">Tipos de Equipamentos</a></li>
    <li class="active">Remover</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> @ViewData["Title"]</div>
    <div class="panel-body">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            Você tem certeza que deseja remover este tipo de equipamento?
        </div>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Manufacturer)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Model)
                </dd>
            </dl>

            <form asp-action="Delete">
                <a asp-action="Index" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar</a> |
                <input type="hidden" asp-for="EquipmentTypeId" />
                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remover
                </button>
            </form>
        </div>
    </div>
</div>