@model Inventory.Models.Company

@{
    ViewData["Title"] = "Exclusão de Empresa";
}

    <h2>@ViewData["Title"]</h2>

<h3>Você tem certeza que deseja remover esta empresa?</h3>
<div>
    <!--<h4>Empresa</h4>-->
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>

    <form asp-action="Delete">
        <a asp-action="Index" class="btn btn-default">Voltar</a> |

        <input type="hidden" asp-for="CompanyId" />
        <input type="submit" value="Delete" class="btn btn-danger" />

    </form>
</div>
